/* ПЕРВЫЙ ЭКРАН */
.first_s {
    width: 100vw;
    height: 60vw;
}
/* ФОН  */
.left_galaxy {
  width: 25vw;
  height: 25vw;
  display: block;
  position:absolute;
  margin-top: -8vw;
  margin-left: -10vw;
}
.right_galaxy {
  width: 15vw;
  height: 15vw;
  display: block;
  position: absolute;
  right: 0;
  bottom:5vw;
}
.first_screen_bg {
  position: absolute;
  margin: 0 auto;
  width: 100vw;
  height: 63vh;
  display: flex;
}
.first_screen_bg img:nth-child(3) {
  position: absolute;
            height: 39vw;
            z-index: 0;
}
.first_screen_bg img:nth-child(4) {
  position: absolute;
  height: 55vw;
  right: 0;
   z-index: 0;
}
.bg_left_galaxy {
  width: 13vw;
  height: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 7vw;
  margin-top: 25vw;
}
.bg_rigth_galaxy {
  width: 16vw;
  height: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left:61vw ;
  margin-top: 7vw;
}
/* Галактика в центре */ 
.main_galaxy {
    display: block;
    position: relative;
    margin: 10vh auto;
    height: 40vw;
    width:100vw;
}
.first_text_block {
  height: 13vw ;
  width: 25vw;
  border-right: 3px solid #B8EC49;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin: -15vw
}
.first_center_elements {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
}
