@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: normal;
    src: local('IBM Plex Mono')
    url("../stylesheets/fonts/IBMPlexMono-Regular.woff") format('woff'),
    url("../stylesheets/fonts/IBMPlexMono-Regular.woff2") format('woff2');
}
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: normal;
    src: local('IBM Plex Mono')
    url("../stylesheets/fonts/IBMPlexMono-Italic.woff") format('woff'),
    url("../stylesheets/fonts/IBMPlexMono-Italic.woff2") format('woff2');
}
h1 {
    font-family: 'IBM Plex Mono';
    font-weight: normal;
    font-size: 70px;
    line-height: 74px ;
    color: white;
  }
  h2 {
    font-family: 'IBM Plex Mono';
    font-weight :500;
    font-size: 62px;
    line-height:66px ;
    color: white;
  }
  h3 {
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    font-size: 2vw;
    line-height: 3vw ;
    color: #B8EC49 ;
  }
  h4 {
    font-family: 'IBM Plex Mono';
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 1.75vw ;
    color: white;
  }
  .b_text {
    font-size: 48px;
    line-height: 54px;
    color: #B8EC49;
    text-align: left;
  }
  p {
    font-family: 'IBM Plex Mono';
    font-size: 18px;
    line-height: 23px ;
    color: white;
  }
  