body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: url("../images/bg_noise.png");
    background-size:100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
::-webkit-scrollbar {
  width: 0px;
}
.second_s_small {
  display: none;
}
.circel {
  position: relative;
  background: linear-gradient(45deg, rgba(217,217,217,1) 0%, rgba(80,80,80,1) 10%, rgba(18,18,18,1) 45%, rgba(0,0,0,1) 100%);
  border-radius: 100%;
  z-index: 100;
}
.circel::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%; 
  padding: 3px; 
  background:linear-gradient(200deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(244,244,249,0.4) 45%, rgba(255,255,255,0) 100%); 
  -webkit-mask: 
     linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
     linear-gradient(rgb(0, 0, 0) 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
.circel_2 {
  position: relative;
  background: linear-gradient(45deg, rgba(217,217,217,1) 0%, rgba(80,80,80,1) 10%, rgba(18,18,18,1) 45%, rgba(0,0,0,1) 100%);
  border-radius: 100%;
  z-index: 100;
}
.circel_2::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%; 
  padding: 5px; 
  background:linear-gradient(200deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(244,244,249,0.4) 45%, rgba(255,255,255,0) 100%); 
  -webkit-mask: 
     linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
     linear-gradient(rgb(0, 0, 0) 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
.circel_3 {
  position: relative;
  background: linear-gradient(45deg, rgba(217,217,217,1) 0%, rgba(80,80,80,1) 10%, rgba(18,18,18,1) 45%, rgba(0,0,0,1) 100%);
  border-radius: 100%;
  z-index: 100;
}
.circel_3::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%; 
  padding: 0.25vw; 
  background:linear-gradient(200deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(244,244,249,0.4) 45%, rgba(255,255,255,0) 100%); 
  -webkit-mask: 
     linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
     linear-gradient(rgb(0, 0, 0) 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
/* Зеленые кружочки */
.circel_green {
  position: relative;
  background: linear-gradient(45deg, rgba(217,217,217,1) 0%, rgba(80,80,80,1) 10%, rgba(18,18,18,1) 45%, rgba(0,0,0,1) 100%);
  border-radius: 100%;
  z-index: 100;
}
.circel_green::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%; 
  padding: 3px; 
  background: linear-gradient(45deg, rgba(57,57,56,1) 0%, rgba(91,111,48,1) 26%, rgba(184,236,73,1) 45%, rgba(184,236,73,1) 100%);
  -webkit-mask: 
     linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
     linear-gradient(rgb(0, 0, 0) 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.circel_2_green {
  position: relative;
  background: linear-gradient(45deg, rgba(217,217,217,1) 0%, rgba(80,80,80,1) 10%, rgba(18,18,18,1) 45%, rgba(0,0,0,1) 100%);
  border-radius: 100%;
  z-index: 100;
}
.circel_2_green::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%; 
  padding: 5px; 
  background: linear-gradient(45deg, rgba(57,57,56,1) 0%, rgba(91,111,48,1) 26%, rgba(184,236,73,1) 45%, rgba(184,236,73,1) 100%);
  -webkit-mask: 
     linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
     linear-gradient(rgb(0, 0, 0) 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
.circel_3_green {
  position: relative;
  background: linear-gradient(45deg, rgba(217,217,217,1) 0%, rgba(80,80,80,1) 10%, rgba(18,18,18,1) 45%, rgba(0,0,0,1) 100%);
  border-radius: 100%;
  z-index: 100;
}
.circel_3_green::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%; 
  padding: 0.25vw; 
  background: linear-gradient(45deg, rgba(57,57,56,1) 0%, rgba(91,111,48,1) 26%, rgba(184,236,73,1) 45%, rgba(184,236,73,1) 100%);
  -webkit-mask: 
     linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
     linear-gradient(rgb(0, 0, 0) 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
.circel_3_purple {
  position: relative;
  background: linear-gradient(45deg, rgba(217,217,217,1) 0%, rgba(80,80,80,1) 10%, rgba(18,18,18,1) 45%, rgba(0,0,0,1) 100%);
  border-radius: 100%;
  z-index: 100;
}
.circel_3_purple::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%; 
  padding: 0.25vw; 
  background: linear-gradient(45deg, rgba(35,33,36,1) 0%, rgba(73,42,94,1) 34%, rgba(172,45,255,1) 58%, rgba(172,45,255,1) 100%);
  -webkit-mask: 
     linear-gradient(rgb(0, 0, 0) 0 0) content-box, 
     linear-gradient(rgb(0, 0, 0) 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
/* Подвальчик */

.bottom {
  height: 250px ;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom_text {
  width:450px ;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 27px ;
  margin-left: 45px ;
}
.bottom_text img {
  width: 195px;
  height: 78px;
  margin-top: 40px;
}
.bottom h3 + p {
  margin-top:10px; 
  font-style: italic;
}