/* АДАПТИВ НА 1024px */
@media all and (width:1024px) {
    /* Первый экран */
    .first_s {
        height: 73vw;
    }

        .first_screen_bg img:nth-child(4) {
        height: 70vw;
    }
    .bg_rigth_galaxy {
        margin-left:58vw
    }
    .main_galaxy {
        height: 50vw;
    }
    .first_text_block {
        margin: -25vw
    }
    /* ВТорой экран */
    .second_s {
        height: 60vw;
        margin-top: 15vw;
    }
}







/* АДАПТИВ НА IPAD */
@media all and (min-width:768px) and  (max-width:1023px) {
    h3 {
        font-size: 34px;
        line-height: 45px;
        font-weight: 500;
        text-align: right;
    }
    h4 {
        font-size: 34px;
        line-height: 45px;
        font-weight: 400;
    }
    /* Первый экран */
    .first_s {
        height: 100vh;
    }
    .left_galaxy {
        width: 35vw;
        height: 35vw;
    }
    .right_galaxy {
        width: 25vw;
        max-width: 100%;
        height: 25vw;
        margin-top: 65vw;
    }
    .first_screen_bg img:nth-child(3) {
        margin-left: -29vw;
        height: 46vh;
    }
    .first_screen_bg img:nth-child(4) {
        display: none;
    }
    .first_screen_bg img:nth-child(5) {
        display: block;
        position: absolute;
        right: 0;
        height: 100vh;
    }
    .bg_left_galaxy {
        width: 16vw;
    }
    .bg_left_galaxy div:nth-child(1) {
        height: 4vw;
        width:4vw;
        margin-top: 18vw;
        margin-left: -13vw;
    }
    .bg_left_galaxy div:nth-child(2) {
        height: 3vw;
        width:3vw;
        margin-top: 14vw;
        margin-left: 5vw;
    }
    .bg_left_galaxy div:nth-child(3) {
        height: 8vw;
        width:8vw;
        margin-left: -8vw;
        margin-top: 3vw;
    }
    .bg_left_galaxy div:nth-child(4) {
        height: 5vw;
        width:5vw;
        margin-top: 92vw;
    }
    .bg_right_galaxy {
        width: 25vw;
    }
    .bg_rigth_galaxy div:nth-child(1) {
        height: 4vw;
        width:4vw;
        margin-left: -16vw;
        margin-top: 75vw;
    }
    .bg_rigth_galaxy div:nth-child(2) {
        height: 4vw;
        width:4vw;
        margin-left: 6vw;
        margin-top: 48vw;
    }
    .bg_rigth_galaxy div:nth-child(3) {
        height: 4vw;
        width:4vw;
        margin-top: 13vw;
        margin-left: -10vw;
    }
    .main_galaxy {
        scale: 2;
        margin: 25vh ;
    }
    .first_text_block {
        height: 20vw;
        width: 46vw;
        border-right: 4px solid #B8EC49;
        margin-top: -36vw;
        margin-right: 3vw;
    }

}
@media all and (max-width:1023px) and (min-width:200px) {
    body {
        background: url(../images/mobile/bg_noise.png);
     }
     .bottom {
        display:none
     }
     h4 {
     }
/* ВТОРОЙ ЭКРНА */
.second_s {
    display: none;
}
.second_s_small {
    display: block;
    height: 450px;
    float:right;
    position: relative;
    margin-top:30vw
}
.planets {
    justify-content: unset;
    margin-bottom: -60px;
    margin-top: 150px;
}
.green_border {
    height: 120px;
    width: 500px;
    border: 3px solid #B8EC49;
    border-bottom: 0;
    margin-left: 640px;
    margin-bottom: -250px;
}
h4 {
    font-size: 15px;
    line-height: 20px;
}
.green_circels {
    width: 185px;
    height: 360px;
    margin-left: 35px;
}
.second_s_small .stars {
    margin-left: 35px;
}
.left_borders {
    width: 620px;
    margin-top: 60px;
}
.left_borders div:nth-child(4) {
    width: 480px;
    height: 30px;
    margin-bottom: 30px;
}
.left_borders div:nth-child(2) {
    width: 380px;
    height: 30px;
    margin-bottom: 50px;
    margin-right: 20px;
}
.left_borders div:nth-child(3) {
    width: 230px;
    height: 60px;
    margin-bottom: 80px;
}
.left_borders div:nth-child(1) {
    width: 150px;
    height: 40px;
    margin-bottom: 110px;
}
.right_borders {
    width: 620px;
    margin-left: 650px;
}
.right_borders div:nth-child(4) {
    width: 620px;
    height: 30px;
    margin-bottom: 30px;
}
.right_borders div:nth-child(2) {
    width: 345px;
    height: 100px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.right_borders div:nth-child(3) {
    width: 245px;
    height: 60px;
    margin-bottom: 80px;
}
.right_borders div:nth-child(1) {
    width: 160px;
    height: 40px;
    margin-bottom: 110px;
}
.stars_naming_green {
    margin-top: -130px;
    height: 170px;
    margin-right: 130px;
}
.third_s {
    transform: rotate(-90deg);
    margin-left: 15vw;
}
.system {
    margin-left: -50vw;
    scale: 2;
}
.beta div {
    border: 1.75px solid white;
}
.alpha div {
    border:1.75px solid white
}
.system img:nth-child(1) {
    display: none;
}
.system div:nth-child(4) {
    display: block;
}

.system img:nth-child(4) {
    height: 200vw;
    width: 100vw;
    margin-left: -2vw;
    margin-top: -11vw;
    position: absolute;
    scale: 0.55;
    transform: rotate(90deg);
}
.system_planets {
    display: none;
}
.fourth_s {
    display: none;
}
.fourth_s_small {

    display: flex;
    width: 100%;
    height: 680px;

    margin-top: 200vw;
    position: relative;
}
.cards {
    padding:15px 25px 50px 25px ;
}
h1 {
    font-size: 38px;
}
h2 {
    font-size:32px;
    line-height:38px
}
p {
    font-size: 14px;
    line-height: 19px;
}
.cards img {
    scale:0.55;
    margin-left: -56px;
}
.card_planet div {
    margin-left: -40px;
}
.card_planet {
    margin-top: -35px
}
h1 + p {
    font-size: 10px;
    margin-top: -15px;
}
div + p {
    margin-top:30px
}
}