
@media all and (min-width:1024px) and (max-width:1280px) {
    .system_planets div:nth-child(10) {
    width: 3vw;
    height: 3vw;
    margin-top: 16vw;
    margin-left: -2.5vw;
    }
    .system_planets div:nth-child(9) {
        width: 3vw;
        height: 3vw;
        margin-top: 21vw;
        margin-left: 4vw;
        }
}
@media all and (min-width:1280px) and (max-width:1441px) {
      .system_planets div:nth-child(10) {
        width: 3vw;
        height: 3vw;
        margin-top: 16vw;
        margin-left: -2vw;
        }
}
@media all and (min-width:1442px) and (max-width:1920px) {
      .system_planets div:nth-child(10) {
        width: 3vw;
        height: 3vw;
        margin-top: 16vw;
        margin-left: -2vw;
        }
}
@media all and (max-width:1025px) {
    .beta div {
        border: 2px solid white;
    }
    .alpha div {
        border: 2px solid white;
    }
}